﻿@model RegistrationSystem.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfRegisteredStudents)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfRegisteredStudents)
        </dd>
        <dt>Tutors</dt>
        <dd>
            @foreach (var tutor in Model.Tutors)
            {
                <a asp-action="Details" asp-controller="Tutors" asp-route-id="@tutor.Id">@tutor.Name</a>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
