﻿@model RegistrationSystem.Models.ViewModels.StudentCourseSelectionRequest

@{
    ViewData["Title"] = "RegisterForCourses";
}

<h2>RegisterForCourses</h2>

<h4>StudentCourseSelectionRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterForCourses">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId"  class="control-label"></label>
                <select asp-for="StudentId"  asp-items="ViewBag.Students" class="form-control">
                </select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseIds" class="control-label"></label>
                <select asp-for="CourseIds" asp-items="ViewBag.Courses" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
